name: CI

on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 17
        cache: sbt

    - name: Setup sbt launcher
      uses: sbt/setup-sbt@v1

    - name: Check formatting
      run: sbt scalafmtCheck

    - name: Test
      run: sbt test
